body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.scroll-to-top {
    right: 3vw;
    bottom: 3vw;
    position: fixed;
    background-color: blue;
    color: white;
}

.scroll-to-top :hover {
    color: blue;
}

.mslogo {
    width: 220px;
}

.garageText {
    color: red;
}

.teamsText {
    color: #6264A7;
}

.azureText {
    color: #0078D4;
}

.github-icon {
    width: 16px;
    margin-right: 10px;
}