body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.scroll-to-top {
    right: 3vw;
    bottom: 3vw;
    position: fixed;
    background-color: blue;
    color: white;
}

.scroll-to-top :hover {
    color: blue;
}